.home-container {
    height: 100vh;
    max-width: 100%;
    background-image: 
    linear-gradient(to bottom, rgba(0,128,128,0.5), rgba(255,255,255,0)),
    url('../components/assets/images/weather-app-logo.png');
    background-size:contain;
    background-repeat: repeat;
    background-position: bottom;
    background-blend-mode: luminosity;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}
.text {
font-size: 6rem;
color: rgba(255, 255, 255, 1);
background-color: rgba(255, 255, 255, 0.2);
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
text-shadow: 2px 2px rgba(50,50,70,0.5);
text-align: center;
}

