
.nav-container {
  font-size: 1.5rem;
}
.navbar {
  background-color: #282c34;
  padding: 2rem 4rem;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  .other-links {
    display: flex;
    gap: 2rem;
  }
}

.navbar li {
  list-style: none;;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}
