.navbar {
  background-color: #282c34;
  padding: 10px 20px;
  position: relative;
  z-index: 1;

}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content:flex-end;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar li {
  
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}
