      /* ------------------ TYPOGRAPHY ----------------
      FONT SIZES
      scaling factor = 1.3
      1rem (base)/ 1.3rem / 1.7rem / 2.2rem / 2.9rem /  3.7rem / 4.8rem / 6.3rem / 8.2rem/

      FONT WEIGHT
      300/500/900

      FONT FAMILY
      Inter 

      -------------------COLOURS--------------------
      #fff (white)
      #008080 (teal)
      
 */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 75%;    /* 75/100 x 16 = 12px*/
}

:root {
  --main-height: 100vh;

  --margin-bottom-sm: 2.8rem;
  --margin-bottom-md: 3.3rem; 
  --margin-bottom-lg: 3.8rem;

  --font-size-sm: 1.3rem;
  --font-size-md: 1.7rem;
  --font-size-lg: 2.9rem;
  --font-size-xlg: 3.78rem;
  --font-size-xxlg: 4.8rem;
  --font-size-xxxlg: 8.2rem;

  --search-bar-color: linear-gradient(to left, rgba(0,128,128,0.5), rgba(255,255,255,0));
  --search-bar-background:  rgb(248, 244, 244);
  --search-bar-background-focus: rgba(255, 255, 255, 1);
  --search-bar-color: #008080;

  --weather-color: rgba(255, 255, 255, 1);

  --font-weight-sm: 300;
  --font-weight-moderate: 500;
  --font-weight-lg: 900;

}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;;
}

.app {
  background-image: url('../public/components/assets/images/winter.png');
  background-size: cover;
  background-position: bottom;
  transition: background-image 0.3s ease-out;
 

}

.summer {
  background-image: url('../public/components/assets/images/summer.jpg') ;
  background-size: cover;
  background-position: bottom;
  transition: background-image 0.3s ease-out;
}

.rainy{
  background-image: url('../public/components/assets/images/rainy.png') ;
  background-size: cover;
  background-position: bottom;
  transition: background-image 0.3s ease-out;

}

.clear-day{
  background-image: url('../public/components/assets/images/clear-day.png') ;
  background-size: cover;
  background-position: bottom;
  transition: background-image 0.3s ease-out;

}

.smoky{
  background-image: url('../public/components/assets/images/smoky.png') ;
  background-size: cover;
  background-position: bottom;
  transition: background-image 0.3s ease-out;

}

.cloudy {
  background-image: url('../public/components/assets/images/cloudy.png') ;
  background-size: cover;
  background-position: bottom;
  transition: background-image 0.3s ease-out;

}

main {
  min-height: var(--main-height);
  background-image: linear-gradient(to bottom, rgba(0,128,128,0.5), rgba(255,255,255,0));
  padding: 2.1rem;
}

.search-box {
  width: 100%;
  margin: 0 auto;
 /* background-color: red; */
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 1.1rem;
  color: var(--search-bar-color); 
  background-color: var(--search-bar-background);
  outline: none;
  border: none;
  border-radius: 0 0 1rem 1rem; 
  margin-top: -24px;
  box-shadow: 2px 5px rgba(0,0,0,0.2);
  color: var(--search-bar-color);
  font-size: var(--font-size-sm);
  transition: 0.3 ease-in;
  margin-bottom: var(--margin-bottom-md);
}

.search-box .search-bar:focus{
  background-color: var(--search-bar-background-focus);;
}

.weather-display .location {
  color: var(--weather-color);
  font-size: var(--font-size-xlg);
  font-weight: var(--font-weight-moderate);
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);

}

.weather-display .date {
  color: var(--weather-color);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-sm);
  font-style: oblique;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
  margin-bottom: var(--margin-bottom-sm);

}

.weather-data {
  display: grid;
  justify-content: center;
  align-self: center;

}

.weather-data .temperature {
  font-size: var(--font-size-xxxlg);
  margin: 0 auto;
  padding: 1.3rem 2.6rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  color: var(--weather-color);
  font-weight: var(--font-weight-lg);
  text-shadow: 3px 6px rgba(50,50,70,0.5);
  box-shadow: 3px 6px rgba(50,50,70,0.4);
;
}

.weather-data .forecast {
  font-size: var(--font-size-lg);
  margin: 0 auto;
  padding: 0.9rem 1.8rem;
  color: var(--weather-color);
  font-weight: var(--font-weight-moderate);
  text-shadow: 3px 3px rgba(50,50,70, 0.4);
  margin-bottom: 46px;
  
}


.future-forecast-container{
  text-align: center;
  color: var(--weather-color);
  text-shadow: 3px 3px rgba(50,50,70, 0);

}

.forecast-accordion-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  color: var(--weather-color);
  transition: all 0.3s ease-in-out;
}

.future-forecast-heading {
  cursor: pointer;
  font-weight: bold;
  padding: 1rem;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  user-select: none;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 0 0 1rem 1rem; 
}

.future-forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  gap: 0.5rem;
  opacity: 1;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;  
}

.forecast-day {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 1rem;
  min-width: 80px;
  gap: 2rem;
  box-shadow: 3px 6px rgba(50,50,70,0.4);
  transition: transform 0.3s ease;
}

.forecast-day:hover {
  transform: scale(1.05);
}
