* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app {
  background-image: url('./components/assets/images/winter-2.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.3 ease-out;
 

}

.summer {
  background-image: url('./components/assets/images/summer.jpg') ;
  background-size: cover;
  background-position: center;
  transition: 0.3 ease-out;


}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,128,128,0.5), rgba(255,255,255,0));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 auto;
 /* background-color: red; */
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  color: linear-gradient(to left, rgba(0,128,128,0.5), rgba(255,255,255,0));;
  
  /* appearance: none;
  -moz-appearance: none; 
  -webkit-appearance: none; */
  background: rgb(229, 225, 225);
  
  background-color: rgba(red, green, blue, 1);
  outline: none;
  border: none;
  border-radius: 0 0 1rem 1rem; 
  margin-top: -24px;
  box-shadow: 2px 5px rgba(0,0,0,0.2);
  color:blue;
  font-size: 16px;

  transition: 0.3 ease-in;
  margin-bottom: 40px;
}

.search-box .search-bar:focus{
  background-color:  rgb(248, 244, 244);;
}

.weather-display .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);

}

.weather-display .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: oblique;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
  margin-bottom: 20px;

}

.weather-data {
  display: grid;
  justify-content: center;
  align-self: center;

}

.weather-data .temperature {
  font-size: 102px;
  /* position: relative; */
  margin: 0 auto;
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  color: white;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50,50,70,0.5);
  box-shadow: 3px 6px rgba(50,50,70,0.4);
;
}

.weather-data .forecast {
  font-size: 42px;
  margin: 0 auto;
  padding: 10px 20px;
  
 
  color: white;

  font-weight: 500;
  text-shadow: 3px 3px rgba(50,50,70, 0.4);
  

}