* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app {
  background-image: url('./components/assets/images/winter-2.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.3 ease-out;
 

}

.summer {
  background-image: url('./components/assets/images/summer.jpg') ;
  background-size: cover;
  background-position: center;
  transition: 0.3 ease-out;


}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,128,128,0.5), rgba(255,255,255,0));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 auto;
 /* background-color: red; */
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  color: #fff;
  
  appearance: none;
  -moz-appearance: none; 
  -webkit-appearance: none;
  
  background: none;
  background-color: rgba(red, green, blue, 0.5);
  /* border: none; */
  /* outline: none; */
  border-radius: 0 0 1rem 1rem; 
  margin-top: -24px;
  
  

}